.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.home::-webkit-scrollbar {
  display: none !important;
}

.home__top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.home__top > h1 {
  background: linear-gradient(to bottom, var(--main-color), black) !important;
  background-clip: text !important;
  color: transparent;
  text-transform: uppercase;
  font-weight: 500;
  user-select: none;
  margin-bottom: unset !important;
}
.home__top > p {
  padding: 0px 10px !important;
  font-size: 0.9rem !important;
  text-align: center !important;
  color: gray !important;
  user-select: none !important;
}

.home__top > p > a {
  color: var(--main-color) !important;
  text-decoration: underline;
}
.home__top__logo {
  width: 100px !important;
  height: 100px !important;
  position: relative;
}
.home__emojis {
  width: 100%;
  padding: 20px;
  flex: 1;
  overflow-y: scroll;
  display: flex;
  max-width: 1000px;
  margin: 0px auto;
  flex-wrap: wrap;
  overflow-x: hidden;
  justify-content: space-evenly;
}
.home__alert {
  width: 200px;
  height: 50px;
  user-select: none;
  user-zoom: none;
  font-weight: 500 !important;
  margin: 10px auto;
  position: absolute;
  bottom: 50px;
  right: 10px;
  z-index: 20;
  background-color: white !important;
}
/* .home__emojis::-webkit-scrollbar {
  display: none;
} */
